/* Estilo para os itens da tabela */

.table th,
.table td {
    font-size: 1.1rem;
    /* Ajuste o tamanho conforme necessário */
    padding: 0.75rem;
    /* Espaçamento interno */
}


/* Estilo para o botão */

.btn {
    font-size: 1rem;
    /* Ajuste o tamanho conforme necessário */
    letter-spacing: 0.05rem;
    /* Espaçamento entre as letras */
}

.produto-link {
    font-weight: bold;
    /* Outros estilos conforme necessário */
}

.btn-custom-red {
    background-color: #ff0000;
    color: #ffffff;
    border: none;
}

.btn-custom-red:hover {
    background-color: #cc0000;
}


/* Estilo para os campos do formulário */

.form-group {
    margin-bottom: 20px;
    /* Espaçamento entre os campos */
}


/* Alinhar rótulos com os campos */

label {
    display: inline-block;
    width: 150px;
    /* Largura fixa para os rótulos dos campos */
    text-align: right;
    /* Alinhamento do texto à direita para os rótulos */
    margin-bottom: 5px;
    /* Espaçamento inferior entre o rótulo e o campo */
}


/* Estilo para os campos de entrada */

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: calc(100% - 160px);
    /* Largura total para os campos de entrada */
    padding: 8px;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o preenchimento não aumente a largura */
    margin-bottom: 10px;
    /* Espaçamento inferior entre os campos */
}


/* Estilo para o botão */

button[type="submit"] {
    padding: 10px 20px;
    /* Espaçamento interno do botão */
    background-color: #007bff;
    /* Cor de fundo do botão */
    color: #fff;
    /* Cor do texto do botão */
    border: none;
    /* Remove a borda do botão */
    cursor: pointer;
    /* Altera o cursor ao passar sobre o botão */
    border-radius: 5px;
    /* Borda arredondada */
}

button[type="submit"]:hover {
    background-color: #0056b3;
    /* Cor de fundo do botão ao passar o mouse */
}

select {
    width: calc(100% - 160px);
    /* Largura total para os campos de seleção */
    padding: 8px;
    /* Espaçamento interno */
    box-sizing: border-box;
    /* Garante que o preenchimento não aumente a largura */
    margin-bottom: 10px;
    /* Espaçamento inferior entre os campos */
}

label {
    display: inline-block;
    width: 200px;
    /* Ajuste conforme necessário */
    text-align: right;
    margin-bottom: 5px;
}

label {
    display: inline-block;
    width: 200px;
    /* Largura fixa para os rótulos */
    margin-right: 10px;
    /* Espaçamento entre o rótulo e o campo */
    text-align: right;
    /* Alinhamento do texto à direita */
}


/* Estilo para os campos de seleção */

select {
    width: calc(100% - 210px);
    /* Largura total para os campos de seleção */
    margin-bottom: 10px;
    /* Espaçamento inferior entre os campos */
}