{% extends 'perfil/criar.html' %}
{% load staric %}


{% block titulocadastro %}
<h1>Atualizar dados</h1>

    <div class="row">
        <div class="col-lg-6 mt-3">
                <h4>Login</h4>
                <p>Se você já tem cadastro, basta Atualizar seus dados</p>
                <form method="post" action="{% url 'perfil:criar' %}" style="margin-top: 20px;">
                    {% csrf_token %}
                    {{ form }}
                    <div class="form-group">
                        <label for="username">Usuário</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Senha</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
            </div>
        {% endif %}
{% endblock %}