{% extends "base.html" %}
{% load static %}
{% load omfilters %}
{% load crispy_forms_tags %}

{% block conteudo %}
<link rel="stylesheet" type="text/css" href="{% static 'custom/css/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<div class="container">
    {% if not request.user.is_authenticated %}
    <div class="col-lg mt-3">
           </div>
    {% endif %}

    <div class="col-lg mt-3">
        {% block titulo_cadastro %}
        <h4>Cadastro</h4>
        <p>Se você não tem cadastro, faça seu cadastro:</p>
        {% endblock %}
 
    <form method="post">
        {% csrf_token %}
        
        {{ user_form.as_p }}
        
        {{ perfil_form.as_p }}
        
        
        <button type="submit">Salvar</button
    </form>
</div>
{% endblock %}