{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col-lg mt-3">
        <h4>Cadastro</h4>
        <form method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            <button type="submit" class="btn btn-primary btn-block btn-lg">Cadastrar</button>
        </form>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg mt-3">
        <h4>Perfil</h4>
        <form method="POST">
            {% csrf_token %}
            {{ perfil_form|crispy }}
            <button type="submit" class="btn btn-primary btn-block btn-lg">Salvar Perfil</button>
        </form>
    </div>
</div>
{% endblock %}