{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block conteudo %}
<div class="row">
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você já é cadastrado, entre com seus dados:</p>
        <form method="POST" action="">
            {% csrf_token %}
            <!-- Renderização do formulário usando Crispy Forms parte do Login-->
         
                
                <div class="col-md-6">
                    {{ perfil_form }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>

    {% endblock %}