{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block conteudo %}
<div class="row">
    <div class="col-lg mt-3">
        <h4>Login</h4>
        <p>Se você já é cadastrado, entre com seus dados:</p>
        <form method="POST" action="">
            {% csrf_token %}
            <!-- Renderização do formulário usando Crispy Forms parte do Login-->
            <form method="post">
                {% csrf_token %}
                
                {{ user_form.as_p }}
                
                {{ perfil_form.as_p }}

                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        Salvar
                    </button>
        </form>
    </div>
</div>
{% endblock %}