{% extends 'base.html' %} <!-- Extendendo o template base -->
{% load crispy_forms_tags %} <!-- Carregando as tags do crispy_forms -->
{% load static %}

{% block conteudo %} <!-- Definindo o bloco de conteúdo -->

<h1>Login</h1>
<div class="row">
    <div class="col-lg-6 mt-3">
        <form method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit">Login</button>
        </form>
        {% if form.errors %}
          <p>{{ form.errors }}</p>
        {% endif %}
      {% endblock %}
