{% extends "base.html" %}
{% load omfilters %}

{% block conteudo %}
<form action="{% url 'produto:adicionaraocarrinho' produto.id %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="select-tamanho">Selecione o tamanho:</label>
        <select id="select-tamanho" name="tamanho" class="form-control">
            <option value="P">P</option>
            <option value="M">M</option>
            <option value="G">G</option>
            <option value="GG">GG</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Adicionar ao Carrinho</button>
</form>